# Looking up Airport IATA Codes in order to build web requests

Need to get the three letter IATA code in order to search flight sites

Checkes for the list of countries and then will search in the countries for the relevant cities

TODO: Search for close airports

In [36]:
import pandas as pd

df = pd.read_csv('../data/airport-codes-minimal.csv')

display(df[df['iata_code'] == "BRS"])

     continent iso_country     city iata_code         country
1379        EU          GB  Bristol       BRS  United Kingdom

In [37]:
countries_visiting = ['United Kingdom', 'Thailand', 'India', 'Nepal']
cities_visiting = ['Manchester', 'Bangkok', 'Mumbai', 'New Delhi']

In [38]:
def lookup_airport_code_from_countries(df, countries) -> pd.DataFrame:
    # Filter the DataFrame to include only the specified countries
    airport_codes = df[df['country'].isin(countries)]
    # Return the final DataFrame with country, city (municipality), and airport code (iata_code)
    airport_codes = airport_codes[['country', 'city', 'iata_code']].reset_index(drop=True)
    return airport_codes


def lookup_airport_code_from_cities(df, cities) -> pd.DataFrame:
    # Filter the DataFrame to include only the specified cities
    airport_codes = df[df['city'].isin(cities)]
    # Return the final DataFrame with country, city (municipality), and airport code (iata_code)
    airport_codes = airport_codes[['country', 'city', 'iata_code']].reset_index(drop=True)
    return airport_codes


# TODO
def search_for_nearby_airports(df, cities) -> pd.DataFrame:
    # TODO: Using the co-ords can we search for a ~50 mile radius
    #       to find nearby airports?
    # Currently only have the location of nearby airports, so this
    # requires another dataset of all towns and citis with their co-ords...
    return df

# TODO
def did_you_mean(df, search_term) -> str:
    # Function that will search the likeness of a word to another
    # This can be useful when allowing users to type in their country/city
    return search_term

In [39]:
countries = lookup_airport_code_from_countries(df, countries_visiting)

In [40]:
lookup_airport_code_from_cities(countries, cities_visiting)

          country        city iata_code
0  United Kingdom  Manchester       MAN
1           India      Mumbai       BOM
2           India   New Delhi       DEL
3        Thailand     Bangkok       DMK
4        Thailand     Bangkok       BKK